/* styles.css */

body {
    background-color: #f8f9fa;
}

.note-card {
    transition: transform 0.3s ease-in-out;
}

.note-card:hover {
    transform: translateY(-5px);
}

#upload-progress-container {
    height: 20px;
}

#upload-progress-bar {
    transition: width 0.5s ease-in-out;
}